.card {
  max-width: 500px;
  margin-bottom: 30px;
}

.avatar {
  background-image: var(--avatar-bg-image);
  background-size: cover;
}

.actions {
  display: flex;
  align-items: center;
}

button {
  text-transform: uppercase;
}
